<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>学生登录</title>
</head>
<body>
<h1>学生登录</h1>
<form action="/student/login" method="post"
      th:action="@{/student/login}" th:object="${logininfo}" th:method="post">
    <table>
        <tr>
            <td>ID：</td>
            <td><input type="text" id="id" th:field="${logininfo.id}"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" id="password" th:field="${logininfo.password}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="登录"></td>
        </tr>
    </table>
</form>
</body>
</html>